
@{
    ViewData["Title"] = "TotalFiles";
}

<h1>TotalFiles</h1>

@model int

<div class="container mt-4">
    <h2>Total Number of Files</h2>

    <p>
        The total number of files in the directory is: <strong>@Model</strong>
    </p>
</div>
